<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>


<body background="/images/lawn.jpg">


<form method='post' action='/upload' enctype='multipart/form-data'>
    <input type='file' name='image'/>
    <input type='submit' />
</form>


</body>
</html>




